{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <p class="help-block">
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
            </p>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Delete {{ dvd.imdbId }}</h3>
            <div>
                {{ form_errors(form) }}
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.submit, {
                        'label': 'Delete',
                        'attr': {
                            'class': 'btn btn-danger'
                        }
                    }) }}
                    <a href="/admin/dvds" class="btn btn-default">Cancel</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
